.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(37, 48, 51);
  color: white;
}

.navlinks {
  display: flex;
  gap: 100px;
  list-style: none;
}
